extends layout

block content

    head
        title Ejercicios

        link(rel='stylesheet' href='/ejercicios.css')

        script(src="/carrousel-splide.js" defer)
        link(rel='stylesheet' href='/carrousel-splide.css')

    body


        section.col.col-lg-12.col-md-12.p-5
            .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-4.d-flex.justify-content-center
                each ejercicio in Ejercicio

                    .flip-card
                        a.delete-icon-lista(href=`/ejercicio/borrar/${ejercicio.id}`)
                            ion-icon(name="close-sharp")
                        .flip-card-inner
                            .flip-card-front


                                a.ejercicio-link(href=`/ejercicio/obtener/${ejercicio.id}`) 

                                p.title #{ejercicio.nombre}
                                p #{ejercicio.grupoMuscular}
                                p #{ejercicio.nivelDificultad}
                            .flip-card-back

                                a.ejercicio-link(href=`/ejercicio/obtener/${ejercicio.id}`)     
                                p.title #{ejercicio.descripcion}

                        a.agregar-icon-lista(href=`/ejercicio/view/enlistar/${ejercicio.id}`)
                            ion-icon(name="bookmark-outline")        



        a(href="/ejercicio/view/crear").button
            span.button__text Agregar
            span.button__icon
                svg.svg(width="24" viewBox="0 0 24 24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    line(x1="12" y1="12" x2="19" y2="12")
                    line(x1="12" y1="12" x2="5" y2="12")
                    line(x1="12" y1="12" x2="12" y2="19")
                    line(x1="12" y1="12" x2="12" y2="5")                               


        script.
            $('a.card-link').click(function() {
                var listaEjerciciosId = $(this).closest('.col').attr('id').split('-')[1];
                window.location.href = `/ejercicio/obtener/${listaEjerciciosId}`;
            });





