extends layout

block content

    head
        title Listas

        link(rel='stylesheet' href='/ejercicios.css')

        script(src="/carrousel-splide.js" defer)
        link(rel='stylesheet' href='/carrousel-splide.css')

    body


        section.col.col-lg-12.col-md-12
            .row
                .col-xs-12.col-sm-12.col-md-6.col-lg-7.px-2#cards
                    .row.justify-content-center
                        each listaEjercicios in ListaEjercicios  
                            .flip-card.mt-4.col-xs-12.col-sm-12.col-md-12.col-lg-7
                                .card(id=`tarjeta-${listaEjercicios.id}`).mb-3.me-sm-4.mx-auto

                                    a.delete-icon(href=`/ejercicio/borrar/listaEjercicios/${listaEjercicios.id}`)
                                        ion-icon(name="trash-outline")
                                    a.ejercicio-link(href=`/ejercicio/listaEjercicios/${listaEjercicios.id}`)
                                    .image 
                                        img(src=`/${listaEjercicios.imagenLista}` loading="lazy" alt="Descripción de la imagen")
                                    
                                    span.title #{listaEjercicios.titulo}
                                    span.price #{listaEjercicios.fechaCreacion.toLocaleDateString()}

                .img.col-xs-12.col-sm-12.col-md-6.col-lg-5


        a(href="/ejercicio/listaEjercicios/view/create").button
            span.button__text Agregar
            span.button__icon
                svg.svg(width="24" viewBox="0 0 24 24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    line(x1="12" y1="12" x2="19" y2="12")
                    line(x1="12" y1="12" x2="5" y2="12")
                    line(x1="12" y1="12" x2="12" y2="19")
                    line(x1="12" y1="12" x2="12" y2="5")                               


        script.
            $('a.card-link').click(function() {
                var listaEjerciciosId = $(this).closest('.col').attr('id').split('-')[1];
                window.location.href = `/ejercicio/listaEjercicios/${listaEjerciciosId}`;
            });





