extends layout

block content

    head
        title FeedBack

        link(rel='stylesheet' href='/retroalimentacion.css')

    body

        .row.section

            //formulario
            section#form-retroalimentacion.p-4.col-sm-12.col-md-6.col-lg-6

                form#retroalimentacion-form.col.col-xs-12.col-sm-12.col-md-12.col-lg-12(action="/retroalimentacion/crear" method="post")

                    p.form-title.mt-4.text-white Feedback

                    input(type="hidden" name="idUsuario" value=`${req.sessionID}`)

                    .row.input-container.mt-4
                        .col-12
                            .form-floating
                                textarea.form-control#emailInput(name="retroalimentacion" placeholder="Ingrese el correo electrónico" rows="4" style="height: 250px; max-height: 300px;")
                                label(for="retroalimentacion") Retroalimentacion

                    button#retroalimentacion-submit.submit.mt-3(type="submit") ENVIAR 

            //todas las cards
            section#retroalimentaciones.p-4.col-sm-12.col-md-6.col-lg-6
                hr#separador(class="mb-4 mt-0")
                each retroalimentacion in Retroalimentacion
                    div.container.mb-4(data-retroalimentacion-id=retroalimentacion.id)
                        div.card.border-0
                            div.card-header.border-0
                                div.d-flex.align-items-center.justify-content-between
                                    div.d-flex.align-items-center
                                        img.rounded-circle.mx-2(src=`/${retroalimentacion.Usuario.imagenPerfil}` loading="lazy" alt="Descripción de la imagen" width='40' height='40')
                                        h5.card-title.ml-2.mb-0 #{retroalimentacion.Usuario.nombre}

                                    //zona de editar y borrar
                                    if req.sessionID == retroalimentacion.Usuario.sessionId || Usuario[0].rol === "administrador"
                                        div.dropdown
                                            button.btn.btn-link.dropdown-toggle(type='button' id='options' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                            div.dropdown-menu.dropdown-menu-right(aria-labelledby='options')
                                                a.dropdown-item#editar(data-id=retroalimentacion.id) Editar
                                                a.dropdown-item#eliminar(data-id=retroalimentacion.id) Borrar

                            //zona descripcion
                            div.card-body.p-3
                                p.card-text #{retroalimentacion.descripcion}
                            
                            div.card-footer.border-0
                                div.d-flex.align-items-center.justify-content-between
                                    //zona fecha
                                    div.d-flex.align-items-center
                                        i.ion-clock.mr-1.text-info.mx-1
                                        span.text-muted #{retroalimentacion.fechaRetroalimentacion.toLocaleDateString()}

                                    //zona votar                                                
                                    div.d-flex.align-items-center
                                        a(href=`/retroalimentacion/voto/${req.sessionID}/${retroalimentacion.id}`).text-decoration-none 
                                            i.ion-ios-location.mr-1.text-secondary.mx-1
                                            span.text-muted #{Votos.filter(v => v.idRetroalimentacion === retroalimentacion.id).length}


                                    div.d-flex.justify-content-between.align-items-center.mt-3
                                        div.viewer
                                            each voto in Votos.filter(v => v.idRetroalimentacion === retroalimentacion.id).slice(0, 3)
                                                span.bg-primary.rounded-circle.d-flex.align-items-center.justify-content-center
                                                    img.rounded-circle(src=`/${voto.Usuario.imagenPerfil}` loading="lazy" alt="Profile Picture" width="35" height="35")
                                            - const numVotos = Votos.filter(v => v.idRetroalimentacion === retroalimentacion.id).length - 3;
                                                if numVotos > 0
                                                    span.bg-info.text-white.rounded-circle.d-flex.align-items-center.justify-content-center
                                                        | +#{numVotos}

                    hr#separador(class="my-4")

            //modal edit
            div(class="modal-edit d-none d-flex justify-content-center")
                div(class="modal-edit-content")
                    ion-icon(name="close-circle" class="modal-edit-close ")
                    h2 Editar

                    form#retroalimentacion-form-edit.form.col.col-xs-12.col-sm-12.col-md-12.col-lg-12(action=`/retroalimentacion/editar/` method="post")

                        .row.input-container.mt-4
                            .col-12
                                .form-floating
                                    textarea#descripcion.form-control(name="retroalimentacion" placeholder="Ingrese el correo electrónico" rows="4" style="height: 250px; max-height: 300px;")
                                    label(for="retroalimentacion") Retroalimentacion

                        button.submit.mt-3(type="submit") ACTUALIZAR 




    //para envio de formulario
    script.
        // Controlador de eventos para enviar la petición AJAX
        $('#retroalimentacion-form').submit(function(event) {
            // Evita que el formulario se envíe de forma convencional
            event.preventDefault();

            // Realiza la petición AJAX
            $.ajax({
                url: '/retroalimentacion/crear',
                type: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    // Actualiza la sección de retroalimentaciones con la nueva retroalimentación
                    const nuevaRetroalimentacion = response.nuevaRetroalimentacion;
                    const retroalimentacionHtml = `
                        <div class="container mb-4" data-retroalimentacion-id="1">
                            <div class="card border-0">
                                <div class="card-header border-0">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">

                                            <h5 class="card-title ml-2 mb-0"> Retroalimentacion agregada! </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-3">
                                    <p class="card-text">${nuevaRetroalimentacion.descripcion}</p>
                                </div>
                                <div class="card-footer border-0">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <i class="ion-clock mr-1 text-info mx-1"></i>
                                            <span class="text-muted"> ${new Date().toLocaleDateString()} </span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <a class="text-decoration-none">
                                                <i class="ion-ios-location mr-1 text-secondary mx-1"></i>
                                                <span class="text-muted"> 0 </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;

                    $('#retroalimentaciones').prepend(retroalimentacionHtml);

                    // Limpia el formulario
                    $('#retroalimentacion-form')[0].reset();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

    //para abrir modal edicion
    script.
        $('#editar').click(function() {
            // Mostramos el modal-edit
            $('.modal-edit').removeClass('d-none');

            // Evitamos que el click se propague al contenedor del modal
            $('.modal-edit-content').click(function(event) {
                event.stopPropagation();
            });

            // Agregamos la acción al formulario de edición
            const retroalimentacionId = $(this).attr('data-id');
            $('#retroalimentacion-form-edit').attr('action', `/retroalimentacion/editar/${retroalimentacionId}`);
        });

        // Cerrar modal al hacer click en la x
        $('.modal-edit-close').click(function() {
            $('.modal-edit').addClass('d-none');
        });

        // Cerrar modal al hacer click fuera del modal
        $('.modal-edit').click(function(event) {
            if ($(event.target).hasClass('modal-edit')) {
                $(this).addClass('d-none');
            }
        });


        const botonEditar = document.getElementById('editar');

        botonEditar.addEventListener('click', async function() {
            const retroalimentacionId = 1; // Reemplaza con el ID de la retroalimentación deseada
            const response = await fetch(`/retroalimentacion/${retroalimentacionId}`);
            const data = await response.json();
            const descripcion = data.descripcion;
            document.getElementById('descripcion').value = descripcion;
        });

    // Controlador de eventos para eliminar la retroalimentación
    script.
        $('#retroalimentaciones').on('click', '#eliminar', function() {
            const id = $(this).data('id');
            $.ajax({
                url: `/retroalimentacion/delete/${id}`,
                method: 'DELETE',
                success: function(response) {
                    const idRetroalDelete = response.idRetroalDelete;
                    $(`.container[data-retroalimentacion-id=${idRetroalDelete}]`).remove();
                },
                error: function(error) {
                    console.error(error);
                }
            });
        });

    //para votar
    script.
        // Controlador de eventos para votar
        $('#retroalimentaciones').on('click', '.votar', function(event) {
            event.preventDefault(); // Prevenir el comportamiento predeterminado del enlace
            const id = $(this).data('retroalimentacion-id');
            const url = `/retroalimentacion/voto/${idUsuario}/${id}`;

            // Realizar la petición AJAX
            $.ajax({
                url: url,
                method: 'POST',
                success: function(response) {
                    const contador = $(`.votar[data-retroalimentacion-id=${id}] span`);
                    const votos = parseInt(contador.text());
                    if (response.votado) {
                        contador.text(votos + 1);
                    } else {
                        contador.text(votos - 1);
                    }
                },
                error: function(error) {
                    console.error(error);
                }
            });
        });





